/* @file styles.css */

/* Use some CSS variables! Good for color schemes! */
:root{
    --lc: #0cc;
    --vc: #0aa;
    --hc: #0ff;
}

html {
    height: 100%; /* in case we use a gradient background */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* @todo: subtle gradient background */
    background-color: #333;
    color: #fff;
}

header, nav, main, footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #555;
    text-align: center;
    padding: 3px;
    position: relative; /* This is for the starburst */
}

nav {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    padding: 3px;
}

nav ul {
    /*display: inline-block;*/
    list-style-type: none;  /* It's still a list. */
    /*border: 1px solid #f00;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

nav ul > li {
    /*display: inline;
    min-width: 20%; */
    border: 1px solid #ccc;
    display: block;
    min-width: 15%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0px;
}

main {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #555;
    color: #fff;
    min-height: calc(100vh - 50px);
    padding: 3px;
}
footer {
    padding: 3px;
    height: 50px;
}

/*
h1 {}
h2 {}
h3 {}
*/

header h1 {
    text-shadow: 3px 3px 5px #111;
    font-size: 36pt;
}

main h2 {
    text-shadow: 3px 3px 5px #111;

}
main h3 {
    text-shadow: 3px 3px 5px #111;

}

p {}

a[href]:link {
    color: var(--lc); /* #e0e; */
    text-decoration: none;
}
a[href]:visited {
    color: var(--vc); /* #c0c; */
    text-decoration: none;
}
a[href]:active {
    text-decoration: underline;
}
a[href]:hover {
    /* @TODO: transition */
    color: var(--hc); /* #f0f; */
    text-decoration: none;
}

blockquote {
    /* @todo: do some  flair left border */
    border-left: 5px solid #ff0;
}

pre {
    font-family: monospace;
    border-radius: 3px;
}

figure {
    border: 5px;
    box-shadow: 2px 2px 5px #111;
}

figure img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

figure figcaption {
    font-size: 10pt;
}

.fleft {
    float: left;
}

.special {
    position: absolute;
    left: 100px;
    top: 50px;
    color: #fff;
    transform:  rotate(-15deg);
}

#burst-12 {
  background: red;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
}
#burst-12:before,
#burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: red;
}
#burst-12:before {
  transform: rotate(30deg);
}
#burst-12:after {
  transform: rotate(60deg);
}

#burst-text {
    z-index: 10;
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 18pt;
    font-weight: bold;
}
